{% extends 'base.html'%}

{% block content %}
<body>

      <div class="container-fluid">
      <div class="row">

        <div class="col-3">
          <div class="card-column">
            <div class="card-header">
              <h4>Browse News Sources</h4>
            </div>
            <div class="list-group list-group-flush scrolly">
              <ul>
                {% for source in latest %}
                <a href="/article/{{source.id}}">
                  <p class="text-capitalize text-muted">{{source.id}}</p>
                </a>
                {% endfor %}
              </ul>
            </div>

          </div>
        </div>

        <div class="col-10">
          <h1 class="text-center"> HEADLINE NEWS </h3>
          <div class="container">
            <div class="card-columns">
              {% for headline in headlines %}

              <div class="card">
                <img class="card" src="{{headline.image}}" alt="Card image cap" size="100px180">
                <div class="card-body">
                  <h5 class="card-title">{{headline.author}}</h5>
                  <p class="card-text">{{headline.description}}</p>
                  <a href="{{headline.url}}"></a>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Publish date:{{headline.time}}</small>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

      </div>
  </div>

</body>

{% endblock %}