<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
        
          <a class="navbar-brand" href="/"> News-mix </a>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><a href="/technology">Technology</a></li>
     
              <li><a href="/business">Business</a></li>
      
              <li><a href="/entertainment">Entertainment</a></li>

              <li><a href="/science">Science</a></li>

              <li><a href="/sports">Sports</a></li>
      </div>

  </div>
</div>
© 2020 GitHub, Inc.